*{margin:0px;padding:0px;    box-sizing: border-box;}
body{font-size:14px;}
p,h2{margin:0;padding:0px;}
.all-content{max-width: 980px;;margin:0 auto;}
.content-box h2{color:blue;padding:20px 0;}
.content-box{padding:20px;background: #ebebeb;}
.content-box p{padding-bottom:20px;}
.content-box-detail > div:last-child  {
    display: block;
        padding-left: 70px;
}
.content-box {font-size: 18px;}
.content-box-detail{display: flex}
.cols{float:left;}
.cols.col-1,
.cols.col-2,
.cols.col-3{width:100%;}

.next > div:first-child {
    background: #27212c;
    color: #867793;
    padding: 50px 90px;
    width: 100%;
    font-size: 40px;
}
.next > div:nth-child(2) {
    background: #bc3183;
    color: #fff;
    padding: 40px 60px;
    font-size: 60px;
}
.next{display: flex;}

.text-block {
    background: #18b3c6;
    padding: 110px 70px;
    color: #fff;
}
.text-block > div > p:first-child{    font-size: 70px;}
.text-block > div > p:last-child{color:silver;margin-top:20px;    font-size:30px;}

#phone{display: none;background: #373c3f;}
header#phone nav ul {
    list-style: none;

}

header#phone nav ul li a {
   padding: 20px 20px;
    display: block;
    color: #fff;
}
.menu {
    color: #fff;
    display: flex;
}
.menu > div:last-child{background: #202529}
.menu > div:last-child {
    background: #202529;
    padding: 0vw 4vw;
    font-size: 10vw;
}

.menu > div:first-child {
    padding-top: 3vw;
    font-size: 6vw;
        padding-left: 20px;
            width: 90%;
}

#phone nav{display: none;}

#desktop nav{}

#desktop nav ul {
    list-style: none;
    display: flex;
    background: #373c3f;
}

#desktop nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 30px 30px;
    display: block;
    font-size: 20px;
}








@media screen and (max-width: 291px){

.text-block > div > p:first-child {
    font-size: 8vw;
}

.content-box-detail > div:last-child {
    display: none;
}
.text-block > div > p:last-child {
    font-size: 5vw;
}
.next > div:first-child {
    padding: 6vw 7vw;
    font-size: 3.7vw;
}

.next > div:nth-child(2) {
    padding: 4vw 6vw;
    font-size: 7vw;
}
.text-block {
    padding: 14vw 6vw;
}
#phone{display: block;}
#desktop{display: none;}

.content-box-detail > div:last-child {
    display: none;
    }

}


@media screen and (min-width:292px) and (max-width:640px){


.text-block > div > p:first-child {
    font-size: 8vw;
}

.content-box-detail > div:last-child {
    display: none;
}
.text-block > div > p:last-child {
    font-size: 5vw;
}
.next > div:first-child {
    padding: 6vw 7vw;
    font-size: 3.7vw;
}

.next > div:nth-child(2) {
    padding: 4vw 6vw;
    font-size: 7vw;
}
.text-block {
    padding: 14vw 6vw;
}
#phone{display: block;}
#desktop{display: none;}

.content-box-detail > div:last-child {
    display: none;
    }
}




@media screen and (min-width:641px) and (max-width:979px){

.cols.col-1{width:33.3333%;}
.cols.col-2{width:50%;}
.cols.col-3{width:100%;}


.next > div:first-child {
    font-size: 3.5vw;
    padding: 8vw 10vw;
}
.text-block > div > p:first-child {
    font-size: 8vw;
}
.text-block > div > p:last-child {
    font-size: 5vw;
}
.next > div:nth-child(2) {
    padding: 5vw 7vw;
    font-size: 9vw;
}
#phone{display: none}
#desktop{display: block;}
}



@media screen and (min-width:980px) and (max-width:1024px){
.cols.col-1{width:33.3333%;}
.cols.col-2{width:50%;}
.cols.col-3{width:100%;}


.content-box-detail > div:last-child {
    display: block;
}
.next > div:first-child {
    font-size: 4vw;
    padding: 8vw 10vw;
}
.text-block > div > p:first-child {
    font-size: 7vw;
}
.text-block > div > p:last-child {
    font-size: 4vw;
}
.next > div:first-child{
padding: 8vw 7vw;
    font-size: 4vw;
}
.next > div:nth-child(2){
    padding: 4vw 8vw;
    font-size: 10vw;
}

#desktop nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 3vw 3vw;
    display: block;
    font-size: 2vw
}
#phone{display: none}
#desktop{display: block;}
}


@media screen and (min-width:1025px){
.cols.col-1{width:33.3333%;}
.cols.col-2{width:50%;}
.cols.col-3{width:100%;}

}